@media (max-width: 900px){
  .main-menu{
    margin-left: -350px;
  }
}

.main-menu{
  z-index: 1;
  position: fixed;
  top: 0px;
  background: #fff;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 5px 15px;
  left: 0px;
  transition: all 0.1s ease-out;
}

.main-menu a{
  display: block;
  width: 100%;
  word-wrap: normal;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  flex: 0 0 25px;
  line-height: 25px;
  font-size: 14px;
  align-items: center;
}

a:visited {
  color: #1A0DAB;
  text-decoration: none;
}

a {
  color: #1A0DAB;
  text-decoration: none;
}