.main-content{
  margin-left: 350px;
  transition: all 0.1s ease-out;
  padding-right: 200px;
}

.main-wrapper{
  position: relative;
  max-width: 800px;
  min-width: 600px;
  margin: auto;
  padding: 60px 30px 60px 30px;
  background-color: #fff;
  border: 1px solid #f1f1f1;
}

@media (max-width: 900px){
  .main-content{
    margin-left: 0;
    padding-right: 0px;
  }
}

.main-menu .level-2{
  font-size: 16px;
  display: block;
  margin-left: 20px;
}

.main-menu .level-3{
  font-size: 16px;
  display: block;
  margin-left: 40px;
}

.code-content{
  display: block;
  padding: 10px;
  margin: 0 0 10.5px;
  font-size: 14px;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  // border: 1px solid #cccccc;
  border-radius: 0;
}
.code-content code{
  color: #444;
  display: block;
  font-size: 16px;
  overflow-x: auto;
  padding: 0.5em;
  background: #F0F0F0;
}