.main-content{
  margin-left: 350px;
  transition: all 0.1s ease-out;
  padding-right: 200px;
}

@media (max-width: 900px){
  .main-content{
    margin-left: 0;
    padding-right: 0px;
  }
}

.main-menu .level-2{
  font-size: 16px;
  display: block;
  margin-left: 20px;
}

.main-menu .level-3{
  font-size: 16px;
  display: block;
  margin-left: 40px;
}
